.footer{
	background: #021c1d;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #cdcdc0;
}



@media screen and (max-width: 480px){
	.footer{
		height: 200px;
	}
}



